.opt a:first-of-type{
    border-left: 1px solid #ddd;
    border-right: unset;
}

.user-opt{
    left: 5px;
    right: auto;
}


.price_box {
    padding-right: 35px;
    padding-left: 0;
}

.course_price {
    margin-right: auto;
    margin-left: unset;
}

.course_author_name {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    padding-left: unset;
    margin-top: 7px;
    margin-right: 20px;
}

button.rightLst, button.leftLst {
    transform: rotate(180deg);
}

.input_field {
    padding-right: 25px;
}

.col-lg-4.service_item.text-left.d-flex.flex-column.align-items-start.justify-content-start p {
    text-align: right;
}

.event_content div, .event_content p {
    text-align: right;
}

.col-lg-3.footer_col {
    text-align: right;
}

.newsletter_email {
    padding-right: 27px;
    margin-left: unset;
}

.about-head-inner {
    text-align: right;
}

.about .services.page_section p {
    text-align: right !important;
}

.col-lg-8.service_item.classes.text-left.d-flex.flex-column.align-items-start.justify-content-start p, .col-lg-8.service_item.classes.text-left.d-flex.flex-column.align-items-start.justify-content-start li {
    text-align: right;
}

ul.classes li {
    list-style: circle;
    margin-bottom: 10px;
    text-align: right;
}

.rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-right: none;
}

.contact100-more.flex-col-c-m * {
    text-align: right;
}


